<!doctype html>
<html>
<head>

<title>** EDIT TITLE **</title>

<meta name='description' content='designed with lcCardLayoutToWeb project at GitHub'>

<!-- A VIEWPORT META LINE IN HTML HEAD IS NECESSARY FOR CSS @MEDIA TO WORK -->
<!-- ID used to modify with Javascript after initial loading - OR EDIT HERE -->
<!-- suggest use content width = div_simFrame width + 2 * div_simFrame left, and no scale -->
<meta id='meta-viewport' name='viewport' content='width=0'>

<!-- load CSS style sheets for this lab  -->
<link rel="stylesheet" href="css/index.css">

<!-- load JAVASCRIPT files for this lab  -->
<!-- e.g., <script language='javascript' src='js/process_main.js' type='text/javascript'></script> -->

</head>
<body>
<div id="div_simFrame_03">
   <input type="button" id="button_add_block" value="5) Add block to chain">
   <input id="input_field_blockchain_header_LABEL" value="Blockchain Header">
   <input id="input_field_Field" value="Address: 8fca7b9ab6fac411b2443c1303d3bc56 
Balance: 50 
---- 
Address: f157bab61715d2bca9d81ada45bad57c 
Balance: 50 
---- 
Address: 263f99c540f4168132cc5fee5726b5ce 
Balance: 50 
---- 
Address: bf61f561918f37cf441fb8a6a1094b7a  
Balance: 50 
---- 
Address: 9412daed1e0bd204f652677a80192ea9  
Balance: 50 ">
   <input id="input_field_blockchain_body_LABEL" value="Blockchain Body">
   <input id="input_field_Field" value="=============================== 
HEADER
  Version: 1 
  Block number: 0
  Previous block hash: 
    00000000000000000000000000000000
  Merkle root: 
    9412daed1e0bd204f652677a80192ea9 
  Number transactions: 5
  Difficulty target: 5
  Time: ADD THIS HERE
  Nonce: ADD THIS HERE
  Hash: ADD THIS HERE
TRANSACTIONS
  From: 00000000000000000000000000000000
  To:
  Amount: 50
  Time: 
  Hash: 
  ---- 
  From: 00000000000000000000000000000000
  To:
  Amount: 50
  Time: 
  Hash:  
  ---- 
  From: 00000000000000000000000000000000
  To:
  Amount: 50
  Time: 
  Hash:  
  ---- 
  From: 00000000000000000000000000000000
  To:
  Amount: 50
  Time: 
  Hash:  
  ---- 
  From: 00000000000000000000000000000000
  To:
  Amount: 50
  Time: 
  Hash:  
 ">
</div> <!-- end of div div_simFrame_03 -->
</body>
</html>
