sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

#div_mainFrame {
  /* display: block; */
  position: relative;
  float: top;
  /* border-style: dashed; */
  /* border-width: 1px; */
}

#div_simFrame {
  /* display: block; */
  position: relative;
  float: left;
  width: 300px;
  height: 256px;
}

#div_plotFrame {
  /* display: block; */
  position: relative;
  float: left;
  width: 260px;
  height: 256px;
}

.reactor_images {
  position: absolute;
  left: 6px;
  top: 48px;
  width: 280px;
  height: 202px;
  border-style: none;
  border-width: 1px;
}

#image_reactor_fill {
  visibility: hidden;
}

#image_reactor_mix_00 {
  visibility: visible;
}

#image_reactor_mix_01 {
  visibility: hidden;
}

#image_reactor_empty {
  visibility: hidden;
}

#button_Fill {
  position: absolute;
  left: 25px;
  top: 6px;
  width: 82px;
  height: 28px;
  visibility: visible;
  border-width: 1px;
  border-radius: 2px;
  border-style: outset;
}

#button_Empty {
  position: absolute;
  left: 199px;
  top: 6px;
  width: 82px;
  height: 28px;
  visibility: visible;
  border-width: 1px;
  border-radius: 2px;
  border-style: outset;
}

#button_React {
  position: absolute;
  left: 112px;
  top: 6px;
  width: 82px;
  height: 33px;
  visibility: visible;
  border-width: 1px;
  border-radius: 2px;
  border-style: outset;
}

#div_PLOTDIV_reactor_contents {
  display: block;
  position: absolute;
  left: 99px;
  top: 129px;
  width: 107px;
  height: 70px;
  visibility: visible;
  background-color: rgb(0,0,255);
}

#div_PLOTDIV_conc_plot {
  display: block;
  position: absolute;
  left: 10px;
  top: 70px;
  width: 240px;
  height: 180px;
  visibility: visible;
  border-width: 1px;
  background-color: rgb(255,255,255);
  border-style: outset;
  opacity: 1;
  border-style: none;
  border-color: DodgerBlue;
}

#field_Trxr_label {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 220px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: none;
  opacity: 1;
  font-size: 14px;
  border-color: DodgerBlue;
}

#input_field_Trxr {
  position: absolute;
  left: 180px;
  top: 29px;
  width: 70px;
  height: 21px;
border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
border-style: solid;
  opacity: 1;
}

/* example @media for responsive design */
/* requires meta viewport element in HTML head */
@media(max-width: 640px) {
  /* change the following when the screen width is <= 640px */
  /* #div_controller {
    top: 600px;
    left: 20px;
   } */
}
