/*
  * set cursor to thumb pointer when over these input types
*/

html input[type="button"],
input[type="range"],
input[type="radio"],
input[type="checkbox"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

/*
  * Re-set default cursor for disabled elements.
*/

html input[disabled] {
    cursor: default;
}

/* set basic style of buttons */

html input[type="button"] {
  background-color: #ccccff;
  border-width: 1px;
  border-style: outset;
  height: 23px;
}

html input[type="button"]:hover {
  background-color: #9999ff;
}

/*
  * change color when click to activate buttons
  * WARNING: active must appear below hover in css file
*/

html input[type="button"]:active {
  background-color: #6666ff;
  border-style: inset;
}

input, button {
  text-align: center;
}

sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

#div_page_header {
 display: block;
 position: relative;
 left: 5px;
 width: 640px;
 visibility: visible;
 border-width: 0px;
 border-color: DodgerBlue;
 border-style: dotted;
 background-color: rgb(255,255,255);
 opacity: 1;
 LCvScrollbar: false;
 LCthreeD: true;
 LCshowBorder: false;
}

#div_rlnoticetext {
  position: relative;
  width: 608px;
  padding-top: 50px;
  font-size: 70%;
}
