sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

#div_simFrame {
  display: block;
  position: relative;
  border-color: DodgerBlue;
  left: 31px;
  top: 0px;
  width: 328px;
  height: 750px;
  visibility: visible;
  border-width: 2px;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

#field_enter_q_LABEL {
  position: absolute;
  left: 31px;
  top: 19px;
  width: 84px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_enter_p_LABEL {
  position: absolute;
  left: 32px;
  top: -12px;
  width: 84px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_phi_LABEL {
  position: absolute;
  left: 56px;
  top: 128px;
  width: 60px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_n_LABEL {
  position: absolute;
  left: 56px;
  top: 97px;
  width: 60px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_phi_value {
  position: absolute;
  left: 121px;
  top: 128px;
  width: 134px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_n_value {
  position: absolute;
  left: 121px;
  top: 97px;
  width: 134px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_enter_q {
  position: absolute;
  left: 121px;
  top: 36px;
  width: 134px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#input_field_enter_p {
  position: absolute;
  left: 121px;
  top: 5px;
  width: 134px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#field_n_LABEL_0 {
  position: absolute;
  left: 120px;
  top: 165px;
  width: 50px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_public_key_LABEL {
  position: absolute;
  left: 18px;
  top: 188px;
  width: 98px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_public_key_0 {
  position: absolute;
  left: 121px;
  top: 188px;
  width: 98px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#button_generate_keys {
  position: absolute;
  left: 88px;
  top: 76px;
  width: 126px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_n_LABEL_1 {
  position: absolute;
  left: 121px;
  top: 223px;
  width: 53px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_private_key_0 {
  position: absolute;
  left: 121px;
  top: 246px;
  width: 98px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_private_key_LABEL {
  position: absolute;
  left: 18px;
  top: 246px;
  width: 98px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_enter_numeric_message_LABEL {
  position: absolute;
  left: 0px;
  top: 305px;
  width: 270px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_public_key_1 {
  position: absolute;
  left: 226px;
  top: 188px;
  width: 98px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_private_key_1 {
  position: absolute;
  left: 226px;
  top: 246px;
  width: 98px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_e_LABEL {
  position: absolute;
  left: 226px;
  top: 165px;
  width: 52px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_d_LABEL {
  position: absolute;
  left: 226px;
  top: 223px;
  width: 52px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_enter_numeric_message {
  position: absolute;
  left: 82px;
  top: 359px;
  width: 142px;
  height: 22px;
border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
border-style: solid;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#button_encode {
  position: absolute;
  left: 87px;
  top: 396px;
  width: 126px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_n_message_max {
  position: absolute;
  left: 250px;
  top: 305px;
  width: 134px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_encoded_message_LABEL {
  position: absolute;
  left: 27px;
  top: 421px;
  width: 241px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_encoded_message {
  position: absolute;
  left: 75px;
  top: 467px;
  width: 142px;
  height: 22px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
  text-align: center;
}

#button_decode {
  position: absolute;
  left: 80px;
  top: 521px;
  width: 126px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_decoded_message_LABEL {
  position: absolute;
  left: 23px;
  top: 541px;
  width: 241px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#field_decoded_message {
  position: absolute;
  left: 73px;
  top: 582px;
  width: 142px;
  height: 22px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
  text-align: center;
}

#div_show_popups_group {
  display: block;
  position: absolute;
  border-color: DodgerBlue;
  left: 366px;
  top: 112px;
  width: 265px;
  height: 239px;
  visibility: visible;
  border-width: 2px;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

#field_click_to_show_LABEL {
  position: absolute;
  left: 4px;
  top: 57px;
  width: 199px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#button_list_primes {
  position: absolute;
  left: 29px;
  top: 39px;
  width: 174px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_fEncode {
  position: absolute;
  left: 29px;
  top: 143px;
  width: 174px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_fGetKeys {
  position: absolute;
  left: 29px;
  top: 108px;
  width: 174px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_fModExp {
  position: absolute;
  left: 29px;
  top: 212px;
  width: 174px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_fDecode {
  position: absolute;
  left: 29px;
  top: 177px;
  width: 174px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_list_popup_notice {
  position: absolute;
  left: 4px;
  top: -12px;
  width: 257px;
  height: 23px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#div_rlnoticetext {
  position: relative;
  font-size: 60%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* @media for responsive design                    */
/* requires meta viewport element in HTML head     */
/* styling above this holds except, e.g.,          */
/*    when width is >= 640px : (min-width: 640px)  */
/*    when width is <= 640px : (max-width: 640px)  */
/*    then styling below holds                     */
/* min- below holds for bigger than #              */
/* max- below holds for smaller than #             */
/* (orientation: portrait) - below holds for narrow field */
/* (orientation: landscape) - below holds for wide field  */

@media(max-width: 640px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  #div_simFrame {
    left: 5px;
  }
  #div_show_popups_group {
    top: 760px;
    left: 5px;
  }
  #div_rlnoticetext {
    font-size: 50%;
    top: 200px;
    /* width: 620px; */
  }
}
