#div_page_header {
  /* the rest set in ../web_labs_CSS/common.css */
  width: 628px;
}

#div_simFrame {
  display: block;
  position: relative;
  border-color: DodgerBlue;
  left: 11px;
  top: 0px;
  width: 628px;
  height: 540px;
  visibility: visible;
  border-width: 0px;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

#canvas_CANVAS_forest {
  position: absolute;
  left: 4px;
  top: 31px;
 /* canvas element width & height must be set in HTML and not in CSS */
  visibility: visible;
  border-width: 2px;
  background-color: rgb(115,251,121);
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_runButton {
  position: absolute;
  left: 30px;
  top: 5px;
  width: 72px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_resetButton {
  position: absolute;
  left: 106px;
  top: 4px;
  width: 72px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#div_radio_group_1 {
 display: block;
 position: absolute;
 left: 200px;
 top: 4px;
 width: 306px;
 height: 27px;
 visibility: visible;
 border-width: 0px;
 border-style: dotted;
 border-color: DodgerBlue;
 opacity: 1;
 LCvScrollbar: false;
}

#radio_Radio_button_1 {
 transform: scale(1);
}

#radio_Radio_button_2 {
 transform: scale(1);
}

#radio_Radio_button_3 {
 transform: scale(1);
}

#radio_Radio_button_1_LABEL {
 width: 160px;
 height: 23px;
 left: 0px;
 top: 0px;
}

#radio_Radio_button_2_LABEL {
 width: 160px;
 height: 23px;
 left: 100px;
 top: 0px;
}

#radio_Radio_button_3_LABEL {
 width: 160px;
 height: 23px;
 left: 200px;
 top: 0px;
}

#radio_Radio_button_1_SPAN {
 margin-left: 24px;
 line-height: 22px;
}

#radio_Radio_button_2_SPAN {
 margin-left: 24px;
 line-height: 22px;
}

#radio_Radio_button_3_SPAN {
 margin-left: 24px;
 line-height: 22px;
}


/* example @media for responsive design */
/* requires meta viewport element in HTML head */
@media(max-width: 640px) {
  /* change the following when the screen width is <= 640px */
  /* #div_controller {
    top: 600px;
    left: 20px;
   } */
}
