sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

#div_page_header {
  /* background-color: lightYellow; */
}

p {
  word-wrap: break-word;
}

#div_simFrame {
  display: block;
  position: relative;
  left: 5px;
  width: 620px;
  height: 760px;
  visibility: visible;
  border : solid;
  border-width: 1px;
  border-color : DodgerBlue;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

#div_controls {
  position: relative;
  height: 160px;
  border : solid;
  border-width: 1px;
  border-color : DodgerBlue;
}

#selectZoo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 140px;
}

#selectMaxGen {
  position: absolute;
  top: 10px;
  left: 160px;
  width: 140px;
}

#div_custom_gene {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 10px;
  width: 600px;
  height: 62px;
  border : solid;
  border-width: 1px;
  border-color : DodgerBlue;
}

#field_custom_gene_label {
  position: absolute;
  top: -9px;
  left: 0px;
  width: 80px;
  height: 20px;
  margin-left: 2px;
  border : dashed;
  border-width: 0px;
  border-color : red;
}

#input_custom_gene {
  position: absolute;
  top: 4px;
  left: 85px;
  width: 508px;
  height: 20px;
  margin-left: 2px;
  text-align: left;
  border : solid;
  border-width: 1px;
  border-color : green;
}

#field_custom_settings_label {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 220px;
  height: 20px;
  margin-left: 2px;
  text-align: left;
  border : dashed;
  border-width: 0px;
  border-color : green;
}

#input_custom_settings {
  position: absolute;
  top: 36px;
  left: 223px;
  width: 300px;
  height: 20px;
  text-align: left;
  margin-left: 2px;
  border : solid;
  border-width: 1px;
  border-color : green;
}

#field_custom_instructions {
  position: absolute;
  top: 48px;
  left: 0px;
  width: 600px;
  height: 20px;
  margin-left: 2px;
  text-align: left;
  border : dashed;
  border-width: 0px;
  border-color : green;
}

#button_custom_draw {
  position: absolute;
  top: -31px;
  left: 300px;
  width: 90px;
  height: 20px;
}

/* #button_custom_erase {
  position: absolute;
  top: -33px;
  left: 380px;
  width: 69px;
  height: 23px;
} */

#field_gene {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 600px;
  height: 54px;
  border : dashed;
  border-width: 0px;
  border-color : green;
}

#field_status {
  position: absolute;
  left: 10px;
  top: 120px;
  width: 600px;
  height: 20px;
  border : dashed;
  border-width: 0px;
  border-color : red;
}

#svg_zoo {
  position: relative;
  border : none;
  border-width: 1px;
  border-color : DodgerBlue;
  z-index : 1; // need svg below input fields
}

/* @media for responsive design                    */
/* requires meta viewport element in HTML head     */
/* styling above this holds except, e.g.,          */
/*    when width is >= 640px : (min-width: 640px)  */
/*    when width is <= 640px : (max-width: 640px)  */
/*    then styling below holds                     */
/* min- below holds for bigger than #              */
/* max- below holds for smaller than #             */
/* (orientation: portrait) - below holds for narrow field */
/* (orientation: landscape) - below holds for wide field  */

@media(min-width: 640px) {
  #div_page_header {
    width: 640px;
  }
  #div_rlnoticetext {
    font-size: 50%;
    width: 640px;
  }
}
