.cstr {
  /* position set by indexed css for each unit */
  width: 80px;
  height: 60px;
  background-color: lightseagreen;
  border: solid 1px;
  /* with z-index = 1, image @ 0 only shows outside this div */
  z-index: 1; /* to be above reactor image at zero */
}

.cstr_img {
  position: absolute;
  top: -10px;
  left: -6px;
  width: 110%;
  height: 128%;
  z-index: 0; /* so reactor image is below others at one */
  /* visibility: hidden; */
  pointer-events: none; /* allows clicks to pass through to elements above */
}

/* cstr input one as square */
/* .cstr_input_one {
  width: 11px;
  height: 11px;
  background-color: yellow;
  position: absolute;
  top: 2px;
  left: 2px;
} */

/* cstr input two as square */
/* .cstr_input_two {
  width: 11px;
  height: 11px;
  background-color: yellow;
  position: absolute;
  top: 25px;
  left: 2px;
} */

/* cstr input one as trapezoid */
/* https://css-tricks.com/the-shapes-of-css/ */
.cstr_input_one {
  border-top: 5px solid transparent;
  border-left: 11px solid yellow;
  border-bottom: 5px solid transparent;
  height: 11px;
  width: 0px;
  position: absolute;
  left: 0px;
  top: 2px;
  z-index: 1; /* to be above reactor image at zero */
}

/* cstr input two as trapezoid */
.cstr_input_two {
  border-top: 5px solid transparent;
  border-left: 11px solid yellow;
  border-bottom: 5px solid transparent;
  height: 11px;
  width: 0px;
  position: absolute;
  top: 25px;
  left: 0px;
  z-index: 1; /* to be above reactor image at zero */
}

/* cstr output one as circle */
/* .cstr_output_one {
  width: 11px;
  height: 11px;
  background-color: dodgerblue;
  position: absolute;
  top: 25px;
  left: 47px;
  border-radius: 50%;
} */

/* cstr output one as triangle */
/* https://css-tricks.com/the-shapes-of-css/ */
.cstr_output_one {
  width: 0px;
  height: 0px;
  border-top: 11px solid transparent;
  border-left: 20px solid dodgerblue;
  border-bottom: 11px solid transparent;
  position: absolute;
  top: 14px;
  left: 76px;
  z-index: 1; /* to be above reactor image at zero */
}

.cstr_info {
  width: 50px;
  height: 30px;
  background-color: white; /* Make info white */
  position: absolute;
  top: 15px;
  left: 15px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: black;
  z-index: 1; /* to be above reactor image at zero */
}

.cstr_type {
  width: 46px;
  height: 11px;
  background-color: whitesmoke;
  position: absolute;
  top: 2px;
  left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  z-index: 1; /* to be above reactor image at zero */
}

.cstr_num {
  width: 46px;
  height: 11px;
  background-color: whitesmoke;
  position: absolute;
  top: 47px;
  left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  z-index: 1; /* to be above reactor image at zero */
}
