.pfr {
  /* position set by indexed css for each unit */
  width: 80px;
  height: 60px;
  background-color: lightsalmon;
  border: solid 1px;
}

.pfr_img {
  position: absolute;
  top: -4px;
  left: -4px;
  height: 115%;
  width: 110%;
  z-index: 0; /* so reactor image is below others at one */
  /* visibility: hidden; */
  pointer-events: none; /* allows clicks to pass through to elements above */
}

/* pfr input one as trapezoid */
/* https://css-tricks.com/the-shapes-of-css/ */
.pfr_input_one {
  border-top: 5px solid transparent;
  border-left: 11px solid yellow;
  border-bottom: 5px solid transparent;
  height: 11px;
  width: 0px;
  position: absolute;
  left: 0px;
  top: 14px;
  z-index: 1; /* to be above reactor image at zero */
}

/* pfr output one as triangle */
/* https://css-tricks.com/the-shapes-of-css/ */
.pfr_output_one {
  width: 0px;
  height: 0px;
  border-top: 11px solid transparent;
  border-left: 20px solid dodgerblue;
  border-bottom: 11px solid transparent;
  position: absolute;
  top: 14px;
  left: 76px;
  z-index: 1; /* to be above reactor image at zero */
}

.pfr_info {
  width: 50px;
  height: 30px;
  background-color: white; /* Make info white */
  position: absolute;
  top: 15px;
  left: 15px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: black;
  z-index: 1; /* to be above reactor image at zero */
}

.pfr_type {
  width: 46px;
  height: 11px;
  background-color: whitesmoke;
  position: absolute;
  top: 2px;
  left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  z-index: 1; /* to be above reactor image at zero */
}

.pfr_num {
  width: 46px;
  height: 11px;
  background-color: whitesmoke;
  position: absolute;
  top: 47px;
  left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  z-index: 1; /* to be above reactor image at zero */
}
