sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

#div_simFrame {
  display: block;
  position: relative;
  border-color: DodgerBlue;
  left: 11px;
  top: 29px;
  width: 628px;
  height: 515px;
  visibility: visible;
  border-width: 2px;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

#canvas_CANVAS_arena {
  position: absolute;
  left: 4px;
  top: 31px;
 /* canvas element width & height must be set in HTML and not in CSS */
  visibility: visible;
  border-width: 2px;
  background-color: rgb(115,251,121);
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_runButton {
  position: absolute;
  left: 30px;
  top: 5px;
  width: 72px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCthreeD: true;
  LCshowBorder: true;
}

#button_resetButton {
  position: absolute;
  left: 106px;
  top: 4px;
  width: 72px;
  height: 23px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCthreeD: true;
  LCshowBorder: true;
}

#input_field_N {
  position: absolute;
  left: 287px;
  top: 5px;
  width: 100px;
  height: 21px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_input_N_LABEL {
  position: absolute;
  left: 183px;
  top: -11px;
  width: 100px;
  height: 21px;
  border-width: 2px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

/* example @media for responsive design */
/* requires meta viewport element in HTML head */
@media(max-width: 640px) {
  /* change the following when the screen width is <= 640px */
  /* #div_controller {
    top: 600px;
    left: 20px;
   } */
}
