#div_simFrame {
  display: block;
  position: relative;
  border-color: DodgerBlue;
  left: 11px;
  top: 0px;
  width: 560px;
  height: 540px;
  visibility: visible;
  border-width: 0px;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

/* canvas element width & height must be set in HTML and not in CSS */

#canvas_CANVAS_arena {
  display: block;
  position: relative;
  top: 28px;
}

#button_runButton {
  position: absolute;
  left: 30px;
  top: 4px;
  width: 72px;
  height: 23px;
}

#button_resetButton {
  position: absolute;
  left: 106px;
  top: 4px;
  width: 72px;
  height: 23px;
}

/* @media for responsive design                    */
/* requires meta viewport element in HTML head     */
/* styling above this holds except, e.g.,          */
/*    when width is >= 640px : (min-width: 640px)  */
/*    when width is <= 640px : (max-width: 640px)  */
/*    then styling below holds                     */
/* min- below holds for bigger than #              */
/* max- below holds for smaller than #             */
/* (orientation: portrait) - below holds for narrow field */
/* (orientation: landscape) - below holds for wide field  */

@media(max-width: 640px) {
  /* change the following when the screen width is <= 640px */
  /* #div_controller {
    top: 600px;
    left: 20px;
   } */
}
