input {
 display: block;
 position: absolute;
 text-align: center;
}

input, button {
 text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
 display: block;
 text-align: left;
}

label {
 display: block;
 position: absolute;
}

img {
 display: block;
 position: absolute;
}

select {
 display: block;
 position: absolute;
}

canvas {
 display: block;
 position: absolute;
 text-align: left;
}

::-ms-tooltip {
  display: none;
}

/* start with same margin as div_simFrame left */
/* start with same width as div_simFrame width + 2*margin */
/* then edit as desired */
.class_body_text {
  margin: 24px;
  width: 810px;
  font-size: 1em;
}

#div_simFrame {
 display: block;
 position: relative;
 left: 10px;
 width: 827px;
 height: 790px;
 visibility: visible;
 border-width: 1px;
 border-style: dotted;
 border-color: DodgerBlue;
 opacity: 1;
 LCvScrollbar: false;
}

#field_run_counter {
 position: absolute;
  left: 702px;
 top: -10px;
  width: 124px;
 height: 20px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 14px;
}

#field_Field_1 {
 position: absolute;
  left: 6px;
 /*top: -10px;*/
 top: 0px;
  width: 805px;
 height: 73px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_Field_1a {
 position: absolute;
  left: 290px;
 /*top: 70px;*/
 top: 30px;
  width: 518px;
 height: 64px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#div_RADIO_group_Model {
 display: block;
 position: absolute;
  left: 33px;
 /*top: 81px;*/
  top: 41px;
  width: 211px;
 height: 62px;
 visibility: visible;
 border-width: 1px;
 border-style: dotted;
 border-color: DodgerBlue;
 opacity: 1;
 LCvScrollbar: false;
}

#radio_Model_1_LABEL {
  width: 199px;
 height: 28px;
  left: 6px;
 top: 6px;
}

#radio_Model_1_SPAN {
  margin-left: 22px;
 line-height: 22px;
 font-size: 14px;
}

#radio_Model_2_LABEL {
  width: 197px;
 height: 24px;
  left: 6px;
 top: 32px;
}

#radio_Model_2_SPAN {
  margin-left: 22px;
 line-height: 22px;
 font-size: 14px;
}

#button_resetButton {
 position: absolute;
  left: 98px;
  top: 134px;
  width: 74px;
 height: 23px;
 visibility: visible;
 background-color: rgb(240,240,240);
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#button_runButton {
 position: absolute;
  left: 20px;
  top: 135px;
  width: 74px;
 height: 23px;
 visibility: visible;
 background-color: rgb(240,240,240);
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#button_runButton:hover,
#button_resetButton:hover {
  background-color: rgb(180,180,240);
}

/* active seemed to work only when under hover ? */

#button_runButton:active,
#button_resetButton:active {
  background-color: rgb(255,0,0);
}

#div_PLOTDIV_inlet_gas {
 display: block;
 position: absolute;
  left: 367px;
  top: 141px;
  width: 454px;
 height: 120px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(102,255,255);
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#div_PLOTDIV_outlet_gas {
 display: block;
 position: absolute;
  left: 367px;
 /*top: 575px;*/
 top: 535px;
  width: 454px;
 height: 120px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(102,255,255);
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#div_PLOTDIV_catalyst_surface {
 display: block;
 position: absolute;
  left: 414px;
 /*top: 442px;*/
 top: 402px;
  width: 310px;
 height: 120px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(102,255,255);
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#div_PLOTDIV_catalyst_gas {
 display: block;
 position: absolute;
  left: 414px;
  top: 273px;
  width: 310px;
 height: 120px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(102,255,255);
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#field_setCmax_label {
 position: absolute;
  left: 22px;
 /*top: 193px;*/
 top: 153px;
  width: 186px;
 height: 23px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_setCmax_value {
 position: absolute;
 left: 211px;
 top: 163px;
 width: 70px;
 height: 21px;
 visibility: visible;
 border-width: 2px;
 border-style: solid;
 opacity: 1;
 LCvScrollbar: false;
 /* font-size: 16px; */
}

#range_setCmax_slider {
  left: 27px;
  top: 196px;
  width: 257px;
 height: 24px;
}

#field_enterKflow_label {
 position: absolute;
  left: 22px;
 /*top: 413px;*/
 top: 373px;
  width: 205px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_enterKads_label {
 position: absolute;
  left: 22px;
 /*top: 479px;*/
 top: 439px;
  width: 205px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterKflow {
 position: absolute;
  left: 232px;
 /*top: 426px;*/
  top: 386px;
  width: 70px;
 height: 21px;
 visibility: visible;
 border-width: 2px;
 border-style: solid;
 opacity: 1;
 LCvScrollbar: false;
}

#input_field_enterKads {
 position: absolute;
  left: 232px;
 /*top: 493px;*/
 top: 453px;
  width: 70px;
 height: 21px;
 visibility: visible;
 border-width: 2px;
 border-style: solid;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterKdiff_label {
 position: absolute;
  left: 22px;
 /*top: 446px;*/
  top: 406px;
  width: 205px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterKdiff {
 position: absolute;
  left: 232px;
 /*top: 460px;*/
  top: 420px;
  width: 70px;
 height: 21px;
 visibility: visible;
 border-width: 2px;
 border-style: solid;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterThieleMod_label {
 position: absolute;
  left: 22px;
 /*top: 513px;*/
  top: 473px;
  width: 205px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_enterAlpha_label {
 position: absolute;
  left: 22px;
 /*top: 575px;*/
  top: 535px;
  width: 205px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterThieleMod {
 position: absolute;
  left: 232px;
 /*top: 526px;*/
  top: 486px;
  width: 70px;
 height: 21px;
 visibility: visible;
 border-width: 2px;
 border-style: solid;
 opacity: 1;
 LCvScrollbar: false;
}

#input_field_enterAlpha {
 position: absolute;
  left: 232px;
 /*top: 589px;*/
  top: 549px;
  width: 70px;
 height: 21px;
 visibility: visible;
 border-width: 2px;
 border-style: solid;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterBscale_label {
 position: absolute;
  left: 22px;
 /*top: 608px;*/
  top: 568px;
  width: 205px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterBscale {
 position: absolute;
  left: 232px;
 /*top: 622px;*/
  top: 582px;
  width: 70px;
 height: 21px;
 visibility: visible;
 border-width: 2px;
 border-style: solid;
 opacity: 1;
 LCvScrollbar: false;
}

#div_RADIO_group {
 display: block;
 position: absolute;
  left: 33px;
 /*top: 263px;*/
  top: 223px;
  width: 183px;
 height: 85px;
 visibility: visible;
 border-width: 1px;
 border-style: dotted;
 border-color: DodgerBlue;
 opacity: 1;
 LCvScrollbar: false;
}

#radio_Sine_LABEL {
  width: 128px;
 height: 21px;
  left: 6px;
 top: 32px;
}

#radio_Sine_SPAN {
  margin-left: 22px;
 line-height: 22px;
 font-size: 16px;
}

#radio_Constant_LABEL {
  width: 130px;
 height: 27px;
  left: 6px;
 top: 6px;
}

#radio_Constant_SPAN {
  margin-left: 22px;
 line-height: 22px;
 font-size: 16px;
}

#radio_Square_LABEL {
  width: 132px;
 height: 23px;
  left: 6px;
 top: 56px;
}

#radio_Square_SPAN {
  margin-left: 22px;
 line-height: 22px;
 font-size: 16px;
}

#checkbox_on_LABEL {
  width: 68px;
 height: 23px;
  left: 109px;
 top: 7px;
}

#checkbox_on_SPAN {
  margin-left: 22px;
 line-height: 18px;
 font-size: 16px;
}

#field_enterCyclePeriod_label {
 position: absolute;
  left: 61px;
 /*top: 338px;*/
  top: 298px;
  width: 205px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterDuty {
 position: absolute;
  left: 273px;
 /*top: 387px;*/
  top: 347px;
  width: 70px;
 height: 21px;
 visibility: visible;
 border-width: 2px;
 border-style: solid;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterDuty_label {
 position: absolute;
  left: 61px;
 /*top: 371px;*/
  top: 331px;
  width: 205px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterCyclePeriod {
 position: absolute;
  left: 273px;
 /*top: 353px;*/
  top: 313px;
  width: 70px;
 height: 21px;
 visibility: visible;
 border-width: 2px;
 border-style: solid;
 opacity: 1;
 LCvScrollbar: false;
}

#field_Krxn_label {
 position: absolute;
  left: 89px;
 /*top: 546px;*/
  top: 506px;
  width: 78px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_Krxn {
 position: absolute;
  left: 152px;
 /*top: 553px;*/
  top: 513px;
  width: 70px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 13px;
}

#field_profile_label_gas {
 position: absolute;
  left: 732px;
 /*top: 299px;*/
  top: 259px;
  width: 116px;
 height: 120px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_profile_label_surface {
 position: absolute;
  left: 732px;
 /*top: 426px;*/
  top: 386px;
  width: 116px;
 height: 120px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_aveRate_label {
 position: absolute;
  left: 80px;
 /*top: 770px;*/
  top: 730px;
  width: 343px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_aveRate {
 position: absolute;
  left: 428px;
 /*top: 770px;*/
  top: 730px;
  width: 90px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_aveConversion {
 position: absolute;
  left: 737px;
 /*top: 770px;*/
  top: 730px;
  width: 78px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_aveConverion_label {
 position: absolute;
  left: 548px;
 /*top: 770px;*/
  top: 730px;
  width: 205px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_spaceTimeTop_label {
 position: absolute;
  left: 198px;
  top: 638px;
  width: 248px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_spaceTimeMiddle_label {
 position: absolute;
  left: 145px;
  top: 670px;
  width: 248px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_spaceTimeBtm_label {
 position: absolute;
  left: 243px;
  top: 705px;
  width: 205px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_Label_Field {
 position: absolute;
  left: 6px;
 /*top: 136px;*/
  top: 96px;
  width: 576px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 14px;
}

#image_reactor_image {
 position: absolute;
  left: 374px;
 /*top: 300px;*/
  top: 260px;
  width: 38px;
 height: 275px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 border-width: 1px;
}

#canvas_CANVAS_rate {
  position: absolute;
  left: 392px;
  top: 660px;
  /* canvas element width & height must be set in HTML and not in CSS */
  visibility: visible;
  border-width: 0px;
  background-color: rgb(0,255,0);
  border-style: dotted;
  opacity: 1;
}

/* @media(max-width: 980px) {
  .class_body_text {
    font-size: 1em;
  }
} */
