input {
 display: block;
 position: absolute;
 text-align: left;
}

input, button {
 text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
 display: block;
 text-align: left;
}

label {
 display: block;
 position: absolute;
}

img {
 display: block;
 position: absolute;
}

select {
 display: block;
 position: absolute;
}

#div_simFrame{
 display: block;
 position: relative;
 left: 5px;
 width: 798px;
 height: 500px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#div_water {
 display: block;
 position: absolute;
 left: 20px;
 top: 268px;
 width: 57px;
 height: 0px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(102,102,255);
 border-style: none;
 opacity: 1;
}

#button_resetButton {
 left: 92px;
 top: 20px;
 width: 72px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#button_runButton {
 left: 14px;
 top: 20px;
 width: 72px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#field_enterFlowRate_label {
 position: absolute;
 left: 10px;
 top: 40px;
 width: 195px;
 height: 27px;
}

#range_slider_enterFlowRate {
 left: 15px;
 top: 77px;
 width: 249px;
 height: 24px;
}

#input_field_enterFlowRate {
 position: absolute;
 left: 200px;
 top: 48px;
 width: 68px;
 height: 21px;
 text-align: center;
}

#image_tank-from-LC_png {
 left: 10px;
 top: 105px;
 width: 338px;
 height: 280px;
 visibility: visible;
 border-style: outset;
 opacity: 1;
 border-width: 0px;
}

#div_controller {
 display: block;
 position: absolute;
 left: 360px;
 top: 46px;
 width: 414px;
 height: 307px;
 visibility: visible;
 border-width: 2px;
 border-style: none;
 opacity: 1;
}

#field_enterResetTime_label {
 position: absolute;
 left: 4px;
 top: 54px;
 width: 198px;
 height: 25px;
}

#input_field_enterSetpoint {
 position: absolute;
 left: 210px;
 top: 6px;
 width: 68px;
 height: 21px;
 text-align: center;
}

#field_enterSetPoint_label {
 position: absolute;
 left: 5px;
 top: -12px;
 width: 198px;
 height: 25px;
}

#input_field_enterResetTime {
 position: absolute;
 left: 209px;
 top: 73px;
 width: 68px;
 height: 21px;
 text-align: center;
}

#field_enterGain_label {
 position: absolute;
 left: 5px;
 top: 22px;
 width: 198px;
 height: 25px;
}

#input_field_enterGain {
 position: absolute;
 left: 209px;
 top: 40px;
 width: 68px;
 height: 21px;
 text-align: center;
}

#div_PLOTDIV_plotData {
 display: block;
 position: absolute;
 left: 10px;
 top: 103px;
 width: 400px;
 height: 300px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(244,244,244);
 border-style: none;
 opacity: 1;
}

#button_copyDataButton {
 position: absolute;
 left: 50px;
 top: 420px;
 width: 82px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

@media (orientation: portrait) {

  #div_simFrame {
    width: 620px;
    height: 940px;
  }

  #div_controller {
    left: 10px;
    top: 415px;
  }

} // END of @media
