<!doctype html>
<html>
<head>

<title>** EDIT TITLE **</title>

<meta name='description' content='designed with lcCardLayoutToWeb project at GitHub'>

<!-- A VIEWPORT META LINE IN HTML HEAD IS NECESSARY FOR CSS @MEDIA TO WORK -->
<!-- ID used to modify with Javascript after initial loading - OR EDIT HERE -->
<!-- suggest use content width = div_simFrame width + 2 * div_simFrame left, and no scale -->
<meta id='meta-viewport' name='viewport' content='width=0'>

<!-- load CSS style sheets for this lab  -->
<link rel="stylesheet" href="css/index.css">

<!-- load JAVASCRIPT files for this lab  -->
<!-- e.g., <script language='javascript' src='js/process_main.js' type='text/javascript'></script> -->

</head>
<body>
<div id="div_simFrame_02">
   <input type="button" id="button_build_block" value="3) Build block">
   <input id="input_field_provisional_block_LABEL" value="Provisional Block">
   <input id="input_field_transactions_pending" value="  Version: 1 
  Block number: 2
  previous block hash: 
    ---
  Merkle root: 
    9412daed1e0bd204f652677a80192ea9 
  Number transactions: 2
  Difficulty target: 5
  Time: ---
  Nonce: ---
  Hash: ---
TRANSACTIONS
  Mining payment: ---
  To: ---
  ---
  From: 
  To:
  Amount: 
  Time: 
  Hash: 
  ---- 
  From: 
  To:
  Amount: 
  Time: 
  Hash: ">
   <input type="button" id="button_mine_block" value="4) Mine block">
   <input id="input_field_mined_block_LABEL" value="Mined Block">
   <input id="input_field_verified_block" value="HEADER
  Version: 1 
  Block number: 1
  previous block hash: 
    bf61f561918f37cf441fb8a6a1094b7a
  Merkle root: 
    9412daed1e0bd204f652677a80192ea9 
  Number transactions: 2
  Difficulty target: 5
  Time: 502302.00
  Nonce: 7892
  Hash: 9412daed1e0bd204f652677a80192ea9
TRANSACTIONS
  Mining payment: 1 
  To: 9412daed1e0bd204f652677a80192ea9
  ---
  From: 
  To:
  Amount: 
  Time: 
  Hash: 
  ---- 
  From: 
  To:
  Amount: 
  Time: 
  Hash: ">
</div> <!-- end of div div_simFrame_02 -->
</body>
</html>
