#div_rlnoticetext {
  font-size: 50%;
}

#div_simFrame {
  display: block;
  position: relative;
  border-color: DodgerBlue;
  left: 5px;
  width: 390px;
  height: 380px;
  visibility: visible;
  border-width: 0px;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

#div_PLOTDIV_PFR_plot {
  display: block;
  position: absolute;
  /* left: 39px; */
  left: 34px;
  top: 30px;
  width: 297px;
  height: 224px;
  visibility: visible;
  border-width: 1px;
  background-color: rgb(0,253,255);
  border-style: outset;
  opacity: 1;
  border-style: none;
  border-color: DodgerBlue;
  LCthreeD: true;
  LCshowBorder: true;
  LCvScrollbar: false;
}

#canvas_CANVAS_jacket {
  position: absolute;
  left: 82px;
  top: 261px;
 /* canvas element width & height must be set in HTML and not in CSS */
  visibility: visible;
  border-width: 1px;
  background-color: rgb(255,252,0);
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#canvas_CANVAS_reactor {
  position: absolute;
  left: 82px;
  top: 276px;
 /* canvas element width & height must be set in HTML and not in CSS */
  visibility: visible;
  border-width: 1px;
  background-color: rgb(255,252,0);
  border-style: solid;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_runButton {
  position: absolute;
  left: 87px;
  top: 4px;
  width: 72px;
}

#button_resetButton {
  position: absolute;
  left: 163px;
  top: 4px;
  width: 72px;
}

#button_copyData {
  position: absolute;
  left: 128px;
  top: 346px;
  width: 104px;
}

#field_reactor_right_arrow {
  position: absolute;
  left: 288px;
  top: 270px;
  width: 23px;
  height: 22px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: none;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
  font-size: 16px;
}

#field_reactor_left_arrow {
  position: absolute;
  left: 57px;
  top: 270px;
  width: 23px;
  height: 22px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: none;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
  font-size: 16px;
}

#field_reactor_left_conc {
  position: absolute;
  left: 4px;
  top: 254px;
  width: 55px;
  height: 22px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: none;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
  font-size: 16px;
}

#field_reactor_right_conc {
  position: absolute;
  left: 310px;
  top: 254px;
  width: 95px;
  height: 22px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: none;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
  font-size: 16px;
}

#field_reactor_left_T {
  position: absolute;
  left: 4px;
  top: 283px;
  width: 55px;
  height: 22px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: none;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
  font-size: 16px;
}

#field_reactor_right_T {
  position: absolute;
  left: 310px;
  top: 283px;
  width: 55px;
  height: 22px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: none;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
  font-size: 16px;
}

#field_color_canvas_label {
  position: absolute;
  left: 83px;
  top: 312px;
  width: 200px;
  height: 22px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: none;
  opacity: 1;
  font-size: 14px;
}

/* @media sets position for wide screen */
/* this sets position for narrow screen */
#div_input_fields_group {
  display: block;
  position: relative;
  left: 13px;
  width: 330px;
  height: 260px;
  visibility: visible;
  border-width: 0px;
  border-style: dotted;
  border-color: Tomato;
  background-color: rgb(255,255,255);
  opacity: 1;
}

/* SPECIAL - THIS LAB IS A QUIZ */

#button_quiz_k_300K {
  position: absolute;
  /* left +3 from field */
  /* BUT SHIFT +100 more FOR DEVELOPMENT - was 193 */
  left: 193px;
  /* top +2 from field - was 6 */
  top: 6px;
  width: 91px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: solid;
  opacity: 1;
}

#field_quiz_transparent_k_300K {
  position: absolute;
  /* left +3 from field */
  /* BUT SHIFT +100 more FOR DEVELOPMENT */
  left: 193px;
  /* top -16 from input field - was -10*/
  top: -10px;
  width: 91px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: solid;
  opacity: 0;
}

#button_quiz_Ea {
  position: absolute;
  /* left +3 from field */
  /* BUT SHIFT +100 more FOR DEVELOPMENT */
  left: 193px;
  /* top +2 from field */
  top: 33px;
  width: 91px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: solid;
  opacity: 1;
}

#field_quiz_transparent_Ea {
  position: absolute;
  /* left +3 from field */
  /* BUT SHIFT +100 more FOR DEVELOPMENT */
  left: 193px;
  /* top -16 from input field */
  top: 17px;
  width: 91px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: solid;
  opacity: 0;
}

#button_quiz_DelH {
  position: absolute;
  /* left +3 from field */
  /* BUT SHIFT +100 more FOR DEVELOPMENT */
  left: 193px;
  /* top +2 from field */
  top: 60px;
  width: 91px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: solid;
  opacity: 1;
}

#field_quiz_transparent_DelH {
  position: absolute;
  /* left +3 from field */
  /* BUT SHIFT +100 more FOR DEVELOPMENT */
  left: 193px;
  /* top -16 from input field */
  top: 44px;
  width: 91px;
  height: 21px;
  border-width: 0px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: solid;
  opacity: 0;
}

#field_k_300K_label {
  position: absolute;
  left: 4px;
  top: -10px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_k_300K {
  position: absolute;
  left: 190px;
  top: 4px;
  width: 91px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  /* set border width 0 for quiz input fields */
  border-width: 0px;
  border-style: solid;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_Ea_label {
  position: absolute;
  left: 4px;
  top: 16px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_Ea {
  position: absolute;
  left: 190px;
  top: 31px;
  width: 91px;
  height: 21px;
  /* set border width 0 for quiz input fields */
  border-width: 0px;
  border-style: solid;
  visibility: visible;
  background-color: rgb(255,255,255);
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_DelH_label {
  position: absolute;
  left: 4px;
  top: 43px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_DelH {
  position: absolute;
  left: 190px;
  top: 58px;
  width: 91px;
  height: 21px;
  /* set border width 0 for quiz input fields */
  border-width: 0px;
  border-style: solid;
  visibility: visible;
  background-color: rgb(255,255,255);
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_Wcat_label {
  position: absolute;
  left: 4px;
  top: 70px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_Wcat {
  position: absolute;
  left: 190px;
  top: 85px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
border-style: solid;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_Cain_label {
  position: absolute;
  left: 4px;
  top: 97px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_Cain {
  position: absolute;
  left: 190px;
  top: 112px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
border-style: solid;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_flowrate_label {
  position: absolute;
  left: 4px;
  top: 124px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_Flowrate {
  position: absolute;
  left: 190px;
  top: 139px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
border-style: solid;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_Tin_label {
  position: absolute;
  left: 4px;
  top: 151px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_Tin {
  position: absolute;
  left: 190px;
  top: 166px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
border-style: solid;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_UA_label {
  position: absolute;
  left: 4px;
  top: 178px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_UA {
  position: absolute;
  left: 190px;
  top: 193px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
border-style: solid;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_Tjacket_label {
  position: absolute;
  left: 4px;
  top: 205px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_Tjacket {
  position: absolute;
  left: 190px;
  top: 220px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
  background-color: rgb(255,255,255);
border-style: solid;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#div_page_header {
  /* the rest is set in ../web_labs_CSS/common.css */
 width: 100%;
}

#div_rlnoticetext {
  font-size: 60%;
  width: 100%;
}

/*#div_input_fields_group {*/
/*  border-color: blue;*/
/*  border-style: dotted;*/
/*  border-width: 2px;*/
/*}*/

/* @media for responsive design                    */
/* requires meta viewport element in HTML head     */
/* styling above this holds except, e.g.,          */
/*    when width is >= 640px : (min-width: 640px)  */
/*    when width is <= 640px : (max-width: 640px)  */
/*    then styling below holds                     */
/* min- below holds for bigger than #              */
/* max- below holds for smaller than #             */
/* (orientation: portrait) - below holds for narrow field */
/* (orientation: landscape) - below holds for wide field  */

@media(min-width: 640px) {
  #div_input_fields_group {
    position: absolute;
    top: 164px;
    left: 400px;
  }
  #div_rlnoticetext {
    font-size: 50%;
    width: 640px;
  }
}''
