#cstr-train-image {
  display: block;
  position: relative;
  visibility: visible;
  height: 100px;
  width: 300px;
  margin: auto
}

#div_simFrame {
  display: block;
  position: relative;
  border-color: DodgerBlue;
  left: 10px;
  width: 686px;
  height: 1080px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  LCvScrollbar: false;
}

#input_setFeedConc_value {
  position: absolute;
  left: 260px;
  top: 55px;
  width: 70px;
  height: 21px;
  border-width: 1px;
  border-style: solid;
  visibility: visible;
  opacity: 1;
  LCvScrollbar: false;
  font-size: 16px;
 }

#field_setFeedConc_label {
  position: absolute;
  left: 20px;
  top: 45px;
  width: 300px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  LCvScrollbar: false;
  font-size: 16px;
 }

#range_setFeedConc_slider {
  left: 27px;
 top: 96px;
  width: 257px;
 height: 24px;
}

#button_resetButton {
  position: absolute;
  left: 85px;
  top: 5px;
  width: 70px;
}

#button_runButton {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 70px;
}

#div_PLOTDIV_plotConcentration {
  display: block;
  position: absolute;
  left: 40px;
  top: 140px;
  width: 630px;
  height: 268px;
  visibility: visible;
  border-width: 1px;
  border-style: none;
  border-color: DodgerBlue;
  opacity: 1;
  LCvScrollbar: false;
}

#div_SSconversionFrame {
  display: block;
  position: absolute;
  left: 40px;
  top: 420px;
  width: 640px;
  height: 325px;
  visibility: visible;
  border-width: 1px;
  border-style: none;
  border-color: TomatoRed;
  opacity: 1;
  LCvScrollbar: false;
}

#selectReactor {
  top: 0px;
  left: 280px;
}

#button_copySSconversion {
  position: absolute;
  left: 510px;
  top: 100px;
  width: 120px;
}

#div_PLOTDIV_plotSSconversion {
  display: block;
  position: relative;
  left: 0px;
  top: 10px;
  width: 500px;
  height: 290px;
  visibility: visible;
  border-width: 1px;
  border-style: none;
  border-color: DodgerBlue;
  opacity: 1;
  LCvScrollbar: false;
}

#div_SSrateFrame {
  display: block;
  position: absolute;
  left: 40px;
  top: 750px;
  width: 640px;
  height: 325px;
  visibility: visible;
  border-width: 1px;
  border-style: none;
  border-color: TomatoRed;
  opacity: 1;
  LCvScrollbar: false;
}

#button_copySSrate {
  position: absolute;
  left: 510px;
  top: 100px;
  width: 120px;
}

#div_PLOTDIV_plotSSrate {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 500px;
  height: 290px;
  visibility: visible;
  border-width: 1px;
  border-style: none;
  border-color: DodgerBlue;
  opacity: 1;
  LCvScrollbar: false;
}

/* #div_sizer {
  // use to get width of plotting area so don't have more pts than pixels
  display: block;
  position: absolute;
  left: 86px;
  top: 140px;
  width: 564px;
  height: 100px;
  visibility: visible;
  border-width: 2px;
  border-style: dotted;
  border-color: red;
  opacity: 1;
  LCvScrollbar: false;
} */

/* @media for responsive design                    */
/* requires meta viewport element in HTML head     */
/* styling above this holds except, e.g.,          */
/*    when width is >= 640px : (min-width: 640px)  */
/*    when width is <= 640px : (max-width: 640px)  */
/*    then styling below holds                     */
/* min- below holds for bigger than #              */
/* max- below holds for smaller than #             */
/* (orientation: portrait) - below holds for narrow field */
/* (orientation: landscape) - below holds for wide field  */

@media(min-width: 640px) {
  #div_page_header {
    width: 686px;
  }
  #div_rlnoticetext {
    font-size: 50%;
    width: 640px;
  }
}
