sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

/* start with same margin as div_simFrame left */
/* start with same width as div_simFrame width + 2*margin */
/* then edit as desired */
.class_body_text {
  margin: 20px;
  width: 790px;
  font-size: 1em;
}

#cstr-train-image {
  display: block;
  position: relative;
  visibility: visible;
  height: 100px;
  width: 300px;
  margin: auto
}

#div_simFrame {
  display: block;
  position: relative;
  border-color: DodgerBlue;
  left: 10px;
  width: 700px;
  height: 1050px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  LCvScrollbar: false;
}

#input_setFeedConc_value {
  position: absolute;
  left: 260px;
  top: 66px;
  width: 70px;
  height: 21px;
  border-width: 2px;
  visibility: visible;
  border-style: solid;
  opacity: 1;
  LCvScrollbar: false;
  font-size: 16px;
 }

#field_setFeedConc_label {
  position: absolute;
  left: 20px;
  top: 53px;
  width: 300px;
  height: 21px;
  border-width: 2px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  LCvScrollbar: false;
  font-size: 16px;
 }

#range_setFeedConc_slider {
  left: 27px;
 top: 98px;
  width: 257px;
 height: 24px;
}

#button_resetButton {
  position: absolute;
  left: 85px;
  top: 5px;
  width: 70px;
  height: 24px;
  visibility: visible;
  border-width: 2px;
  background-color: rgb(240,240,240);
  border-style: outset;
}

#button_runButton {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 70px;
  height: 24px;
  visibility: visible;
  border-width: 2px;
  background-color: rgb(240,240,240);
  border-style: outset;
}

#button_copyDataButton {
  position: absolute;
  left: 326px;
  top: 258px;
  width: 104px;
  height: 24px;
  visibility: visible;
  border-width: 2px;
  background-color: rgb(240,240,240);
  border-style: outset;
}

#button_runButton:hover,
#button_resetButton:hover,
#button_copyDataButton:hover {
  background-color: rgb(180,180,240);
}

/* active seemed to work only when under hover ? */

#button_runButton:active,
#button_resetButton:active,
#button_copyDataButton:active {
  background-color: rgb(255,0,0);
}

#div_PLOTDIV_plotConcentration {
  display: block;
  position: absolute;
  left: 40px;
  top: 140px;
  width: 630px;
  height: 248px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  opacity: 1;
  LCvScrollbar: false;
}

/* #div_PLOTDIV_plotConversion {
  display: block;
  position: absolute;
  left: 40px;
  top: 400px;
  width: 630px;
  height: 248px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  opacity: 1;
  LCvScrollbar: false;
} */

#div_SSconversionFrame {
  display: block;
  position: absolute;
  left: 40px;
  top: 400px;
  width: 510px;
  height: 340px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  opacity: 1;
  LCvScrollbar: false;
}

#div_PLOTDIV_plotSSconversion {
  display: block;
  position: relative;
  left: 0px;
  top: 25px;
  width: 500px;
  height: 290px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  opacity: 1;
  LCvScrollbar: false;
}

#div_PLOTDIV_plotSSrate {
  display: block;
  position: absolute;
  left: 40px;
  top: 750px;
  width: 500px;
  height: 290px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  opacity: 1;
  LCvScrollbar: false;
}

/* #div_sizer {
  // use to get width of plotting area so don't have more pts than pixels
  display: block;
  position: absolute;
  left: 86px;
  top: 140px;
  width: 564px;
  height: 100px;
  visibility: visible;
  border-width: 2px;
  border-style: dotted;
  border-color: red;
  opacity: 1;
  LCvScrollbar: false;
} */

/* example @media for responsive design */
/* requires meta viewport element in HTML head */
@media(max-width: 640px) {
  /* change the following when the screen width is <= 640px */
  /* #div_controller {
    top: 600px;
    left: 20px;
   } */
}
